In [1]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv("train_ver2.csv.zip")

/var/folders/1r/zcr4h6k926v4knzh1r6wcj8r0000gn/T/ipykernel_15605/1211639173.py:5: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("train_ver2.csv.zip")

In [2]:
data.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [3]:
# Select the columns of interest
last_n_column  = data.iloc[: , -24:].columns.to_list()
last_n_column = ['ncodpers'] + last_n_column
data = data[last_n_column]

In [4]:
data.head()

,ncodpers,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,1375586,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1050611,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,1050612,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,1050613,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,1050614,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [5]:
# Group by customers and sum the product columns to get the list of products each customer has
data = data.groupby(['ncodpers'], as_index=False).sum()

In [6]:
data.head()

,ncodpers,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,15889,0,0,17,0,0,0,0,0,17,...,0,0,0,0,8,17,0,0.0,0.0,0
1,15890,0,0,0,0,17,0,0,0,17,...,0,17,0,0,17,0,0,17.0,17.0,17
2,15891,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,15892,0,0,12,0,5,0,0,0,0,...,0,0,0,17,17,17,0,0.0,0.0,17
4,15893,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,17,0,0.0,0.0,0

In [7]:
# Split the data into features and labels
features = data
labels = data['ncodpers']

In [8]:
# Normalize the features
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_features = scaler.fit_transform(features)

In [9]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(scaled_features, labels, test_size=0.2, random_state=0)

In [10]:
# Build the recommendation model using Cosine Similarity
from sklearn.metrics.pairwise import cosine_similarity
#cosine_sim = cosine_similarity(x_train, x_train)

In [11]:
x_test[0:100].shape

(100, 25)

In [12]:
for i in range(0,len(x_test[0:100])):
    cosine_sim_new = cosine_similarity([x_test[i]], x_train)
    indices = np.argsort(cosine_sim_new)[0][::-1][:5]
    recommended_products = np.where(x_train[indices].sum(axis=0) > 0, 1, 0)
    for j in range(1,len(recommended_products)):
        if recommended_products[j] == 1 and x_test[i][j] == 0:
            print(i+1)
            print(features.columns[j])

15
ind_nomina_ult1
15
ind_nom_pens_ult1
67
ind_cco_fin_ult1